
@import "bootstrap/scss/bootstrap";
 .btn-primary {
    color: #fff;
    background-color: #125d7a;
    border-color: #0d6efd;
  }

.form-control{
    min-height:3rem;
    line-height:initial;
} 

.bg-light{
  background-color: transparent;
}