.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }

/* dddd */  



.services {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 250px 400px);
}


.services__image {
  background-image: url('../images/mobile/image-transform.jpg');
  background-size: cover;
  background-position: center;
}

.services__texts {
  padding: 1rem 1.5rem;
  place-self: center;
  text-align: center;
  --color: hsla(51, 100%, 49%, 0.263);
}

.services__texts--2 {
  --color: hsla(7, 99%, 70%, 0.267);
}

.services__title {
  font-size: 2rem;
  font-family: var(--font1);
  color: var(--very-dark-desaturated-blue);
}

.services__paragraph {
  line-height: 1.5;
  color: var(--very-dark-grayish-blue);
  margin: 1.5rem 0;
}

.services__cta {
  color: var(--very-dark-desaturated-blue);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font1);

  position: relative;
}

.services__cta::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  border-radius: 2em;
  z-index: -1;
  background-color: var(--color);
}

.service__image--2 {
  background-image: url('../images/mobile/image-stand-out.jpg');
}





/* jobs */

.jobs {
  display: grid;
  grid-auto-rows: 550px;
}

.jobs__section {
  display: grid;
  align-content: end;
  background-position: center;
  background-size: cover;
  background-image: url('../images/mobile/image-graphic-design.jpg');
  padding: 2.5rem 1.5rem;
  text-align: center;
  color: var(--dark-desaturated-cyan);
}

.jobs__section--second {
  color: var(--dark-blue);
  background-image: url('../images/mobile/image-photography.jpg');
}

.jobs__name {
  font-family: var(--font1);
  font-size: 1.7rem;
}

.jobs__paragraph {
  line-height: 1.5;
  margin-top: 1rem;
}

.testimonials {
  text-align: center;
}

.testimonials__title {
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
  font-family: var(--font1);
}

.testimonials__container {
  padding: 60px 0;
  display: grid;
  gap: 6rem;
}

.testimonials__img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials__paragraph {
  color: var(--dark-blue);
  line-height: 1.5;
  margin: 1.5rem 0;
}

.testimonials__name {
  color: var(--very-dark-desaturated-blue);
  font-family: var(--font1);
  margin-bottom: .7rem;
}

.testimonials__job {
  color: var(--grayish-blue);
}

